### Basics of Python

### How to print the output?

##### Print Hello World

In [ ]:
print("Hello World")

In [ ]:
print("Welcome to the Python Course")

In [ ]:
print("Latha")

### Shortcut Keys
### Run-> Shift+Enter
### Insert cell above->a
### Insert cell below->b
### Delete a cell->x
### Add Comment -> M and shift+Enter

### Variables

In [ ]:
x=10
x

In [ ]:
print(x)

In [ ]:
y=100
y

In [ ]:
name="Premalatha"
gender="Female"
Experience=15

In [ ]:
name

Experience

gender

In [ ]:
print(name)
print(gender)
print(Experience)

In [ ]:
Gender ### Case-sensitive

In [ ]:
gender

In [ ]:
y=16
x="latha"
x
y

In [ ]:
x,y

In [ ]:
y,x

In [ ]:
print(x,y)

In [ ]:
z=y
z

In [ ]:
y

In [ ]:
x=y=z="test"
print (z)

In [ ]:
x,y,z=24,21,12
x

In [ ]:
y

In [ ]:
z

### Rules for naming the variables
### Variable can have alphabets[A-Z,a-z]
### Variable name should not start with a number 
### Variables donot allow spl characters other than underscore
### case sensitive

In [ ]:
Books=["DS with Python","BA with Python"]
Books

In [ ]:
books

In [ ]:
4books=["DS with Python","BA with Python"]
4books

In [ ]:
b6ooks=["DS with Python","BA with Python"]
b6ooks

In [ ]:
books*lists=["DS with Python","BA with Python"]
books*lists

In [ ]:
books_lists=["DS with Python","BA with Python"]
books_lists

In [ ]:
_books=["DS with Python","BA with Python"]
_books

In [ ]:
book names="Python","R"

#### Rules for naming variables
##### Case-sensitive
##### It should start with A-Z,a-z or _
##### It should not start with a number but it can have numbers
##### Space is not allowed

In [1]:
### Data Types
x=107
type(x)

int

In [3]:
y=12.300
type(y)

float

In [4]:
z="Analytics"
type(z)

str

In [5]:
z

'Analytics'

In [6]:
z=Analytics
z

NameError: name 'Analytics' is not defined

In [7]:
z='Analytics'
z

'Analytics'

In [9]:
e=False
type(e)

bool

In [12]:
z=True
z,type(z)

(True, bool)

In [13]:
x=true
type(x)

NameError: name 'true' is not defined

In [14]:
e="True"
type(e)

str

In [15]:
h=2-3j
type(h)

complex

In [ ]:
### implicit conversion(no inv of a programmer)
x=5
y=6.2
z=x*y
z

In [ ]:
type(z)

In [ ]:
### Explicit Conversion
x=12
y="43.5"
z=x+y
z

In [ ]:
z=x+float(y)
z

In [ ]:
x=21
float(x)

In [ ]:
x=5.6
int(x)

In [ ]:
str(x)

In [ ]:
bool(x)

In [ ]:
x="Analytics"
float(x)

In [ ]:
x="Analytics"
int(x)

In [ ]:
x="Analytics"
bool(x)

In [ ]:
Print("Hello")

In [ ]:
print("Python"+" is fun")

In [ ]:
print("Python"+ 56)

In [ ]:
print("Python"+str(56))

In [ ]:
### Arithmetic Operators
x=19
y=21
x+y

In [ ]:
x-y

In [ ]:
x*y

In [ ]:
x/y

In [ ]:
x**y ### x to the power y

In [ ]:
x=9
y=10
x**y

In [ ]:
x%y ## Remainder when x>y,x when x<y

In [ ]:
x=15
y=4
x%y

In [ ]:
x=4
y=15
x%y

In [ ]:
x=17 ### x>y=>Quotient,x<y=>0
y=5
x//y

In [ ]:
x=1
y=18
x//y

In [ ]:
x=100
y=1000000000000000
x//y

In [ ]:
### Relational Operators
a=5
b=4
a>b

In [ ]:
a<b

In [ ]:
a>=b

In [ ]:
a<=b

In [ ]:
a==b

In [ ]:
a!=b

### Data Structures

#### List->elements are seperated by comma and enclosed with square bracket
#### Heterogenous
#### List can be retrieved using index
#### Mutable

In [16]:
sample_list=[1,13.6,"hi",12,1]
sample_list

[1, 13.6, 'hi', 12, 1]

In [17]:
type(sample_list)

list

In [20]:
sample_list[0]

1

In [23]:
sample_list[10]

IndexError: list index out of range

In [24]:
sample_list[-2]

12

In [27]:
sample_list[0]=10

In [28]:
sample_list

[10, 13.6, 'hi', 12, 1]

### Tuple

##### Heterogenous
##### Paranthesis
##### can retrieve data using index
##### Immutable

In [29]:
sample_tuple=(1,13.6,"hi",12,1)
sample_tuple

(1, 13.6, 'hi', 12, 1)

In [30]:
type(sample_tuple)

tuple

In [31]:
sample_tuple=1,13.6,"hi",12,1
type(sample_tuple)

tuple

In [33]:
sample_tuple[-4]

13.6

In [34]:
sample_tuple[10]

IndexError: tuple index out of range

In [36]:
sample_tuple[0]=10

TypeError: 'tuple' object does not support item assignment

### Set

#### Doesnot allow duplicates
#### Ordered-First place

#### In Set,elements cannot be retrieved using index

##### set is mutable

In [37]:
sample_set={1,13.6,"hi",12,1,127,25,25,"apple","king","ball"}
sample_set

{1, 12, 127, 13.6, 25, 'apple', 'ball', 'hi', 'king'}

In [39]:
sample_set[1]

TypeError: 'set' object is not subscriptable

In [40]:
sample_set[0]="hello"

TypeError: 'set' object does not support item assignment

In [41]:
sample_set.add(1000)

In [42]:
sample_set

{1, 1000, 12, 127, 13.6, 25, 'apple', 'ball', 'hi', 'king'}

In [43]:
sample_set.remove("hi")

In [44]:
sample_set

{1, 1000, 12, 127, 13.6, 25, 'apple', 'ball', 'king'}

### Dictionary

##### Has key-value pair data structure
##### Key is unique
##### Values can be duplicated
##### Value can be retrieved using key
##### Key cannot be retrieved using value

In [45]:
sample_dict={1:"apple",2:35.4,3:"data",2:"every",6:35.4,7:35.4,2:"hi"}
sample_dict

{1: 'apple', 2: 'hi', 3: 'data', 6: 35.4, 7: 35.4}

In [48]:
sample_dict[2]

'hi'

In [49]:
sample_dict["apple"]

KeyError: 'apple'

In [50]:
sample_dict[7]=100

In [51]:
sample_dict

{1: 'apple', 2: 'hi', 3: 'data', 6: 35.4, 7: 100}

In [52]:
sample_dict[10]="Business"

In [53]:
sample_dict

{1: 'apple', 2: 'hi', 3: 'data', 6: 35.4, 7: 100, 10: 'Business'}

In [ ]:
#### How to add key value pair to a dictionary?